
body {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 280px;
  background-color: #f2f1ed;
}
.timer {
  display: flex;
  justify-content: space-between;
}
.value {
  font-size: 80px;
  color: rgb(156, 16, 16);
}

.label {
  padding-left: 20px;
  font-size: 50px;
  color:  rgb(71, 70, 70);
}